:root {
  --background-color: white;
  --text-color: black;
  --menu-background-color: white;
  --menu-text-color: black;
  --font-family: 'Georgia', serif; 
  --font-weight-normal: 400;
  --font-size: 23px;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family); 
  font-weight: var(--font-weight-normal); 
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
  font-weight: var(--font-weight-normal);
}

.gallery {
  position: relative;
  height: calc(100vh - 60px); 
  overflow: hidden; 
}

.image {
  width: 62vmin; 
  position: absolute;
  transform: translate(-50%, -50%);
}

.image[data-status="inactive"] {
  display: none;
}

.image[data-status="active"] {
  display: block;
}

#bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  z-index: 10000;
}

#photographer-menu {
  position: relative;
  cursor: pointer;
  z-index: 10003;
}

#categories {
  display: flex;
  gap: 10px;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
}

#photo-count {
  font-weight: var(--font-weight-normal); 
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10002;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
  display: none;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
  text-decoration: none;
}

.overlay .closebtn:hover {
  color: #bbb;
}

.overlay .overlay-content {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overlay .overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
}

.overlay .overlay-content a img {
  margin-right: 10px;
  vertical-align: middle;
}

.overlay .overlay-content a:hover,
.overlay .overlay-content a:focus {
  color: #f1f1f1;
}

.vertical-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  margin: 10px 0;
}

.vertical-overlay-content a:hover,
.vertical-overlay-content a:focus {
  color: #f1f1f1;
}
