@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --background-color: white;
  --text-color: black;
  --menu-background-color: white;
  --menu-text-color: black;
  --slider-circle-color: var(--background-color);
  --font-family: 'Inter', serif; 
  --font-weight-normal: 400; 
}

.dark-mode {
  --background-color: black;
  --text-color: white;
  --menu-background-color: black;
  --menu-text-color: white;
  --slider-circle-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: var(--font-family); 
  font-weight: var(--font-weight-normal); 
}

* {
  font-weight: var(--font-weight-normal);
}

.image {
  width: 62vmin;
  position: absolute;
  transform: translate(-50%, -50%);
}

.image[data-status="inactive"] {
  display: none;
}

.image[data-status="active"] {
  display: block;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: var(--slider-circle-color);
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

#bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  z-index: 10000;
}

#photographer-menu {
  position: relative;
  cursor: pointer;
  z-index: 10003;
}

#menu-options {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--menu-background-color);
  color: var(--menu-text-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10004;
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

#menu-options.show {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.menu-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #4f4b4b;
  text-decoration: none;
  color: var(--menu-text-color);
}

.menu-option:last-child {
  border-bottom: none;
}

.menu-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#categories {
  display: flex;
  gap: 10px;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
}

.category {
  margin: 0 10px;
}

#photographer-name, #photo-count {
  font-weight: var(--font-weight-normal); 
}